.textoM {
  left: 110vb;
}
.textoD {
  position: static;
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1vw;
}
.titlejes {
  text-align: center;
  
}
.climate {
  text-align: center;
  margin-top: 25vb;
}
.aviso{
    position: relative;
    text-align: center;
    margin-top: 70px;
    background-color: transparent;
   
}

.skills{
font-size: 3vw;

}
.w3-grey{
  background: rgb(18,7,208);
background: radial-gradient(circle, rgba(18,7,208,1) 0%, rgba(179,2,149,1) 68%, rgba(186,2,146,1) 71%, rgba(255,0,121,1) 100%);
  font-size: 1vw;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  border-radius: 100px;
  border: 1px solid;
  transition: .050s;
  animation: movimientoFondo 10s ease infinite;
}

@keyframes movimientoFondo {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 100px 100px;
  }
  100% {
    background-position: 0px 0px;
  }
}

@keyframes example {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reacti {
  background-color: transparent;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.htmli{

 fill: white;
}

.cssi{
  fill: white ;
transition: 0.10;
}
.jsi{
  fill: white;
}
.textog{
  margin-left: 1em;
}

@media screen and (max-width: 600px) {
  .textoD{
    font-size: 16px;
    margin-left: 0px;
    padding: none;
  }
  .textoD{
    font-size: 10px !important;
  }
}
@media screen and (max-width: 600px) {
  .skills{
    font-size: 20px;
    margin-left: 0px;
    padding: none;
    
  }
  .skills{
    font-size: 15px !important;
  }
}

@media screen and (max-width: 600px) {
  .icons1{
   height: 2em;
   width: 2em;
    
  }
  .icons1{
    font-size: 15px !important;
  }
}

@media screen and (max-width: 600px) {
  .w3-grey{
  
    height: 15px !important;
    
  }
  .w3-grey{
    height: 15px !important;
    font-size: 8px;
  }
}